[submodule "vendor/building-blocks"]
	path = vendor/building-blocks
	url = git@github.com:buildingfirefoxos/Building-Blocks.git
[submodule "vendor/angular-shared"]
	path = vendor/angular-shared
	url = git@github.com:silverbucket/angular-shared.git
