<section id="drawer" role="region">
  <header>
    <a href="#"><span class="icon icon-menu">hide sidebar</span></a>
    <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
    <menu type="toolbar">
      <button>
        <span class="icon icon-edit">Edit Name</span>
      </button>
      <a href="#"><span class="icon icon-add">Add Room or Person</span></a>
    </menu>
    <h1>Joined Rooms <em>9</em></h1>
  </header>

  <div role="main">
    <article class="content scrollable header">
      <div data-type="list">
      <ul>
        <li><a href="#"><p>#remotestorage</p></a></li>
        <li><a href="#"><p>#sockethub</p></a></li>
        <li><a href="#"><p>Trevor Brown tbrown@gmail.com</p></a></li>
        <li><a href="#"><p>#unhosted</p></a></li>
      </ul>
      </div>
    </article>
  </div>
</section>